<div class="row">
	<div class="col-sm-6" id="body-left">
		<h2 class="text-center">Norma Jeanne Karlsson</h2>
		<h3 class="text-center">Author of The Blackness Series</h3>
		<span id="bodyText">
		<p>
			<em>Blackness Takes Over</em> was Norma Jeanne's debut novel. What began as an homage to the hometown of a homesick Midwestern girl, unfolded a story of love, danger, humor, and trust. Norma Jeanne has continued writing in the same vein, exploring difficult subject matter and putting her own twist on things. As her work moves outside <em>The Blackness Series</em>, she hopes to find new challenges to tackle and more characters to fall in love with.
		</p>
		<p>
			Originally from Kansas City, Missouri, Norma Jeanne recently found herself relocating to the United Kingdom. Now living in Belfast, she took hold of the opportunity to kick the 9-5 job for a chance to become an author. The best part: working from her home office, she gets to spend more time with her cast of crazy characters (written and real).
​ 		</p>
		<p>
​			In her free time Norma Jeanne is a voracious reader and consumes books as readily as meals. She is a people watcher by nature and uses 				her experiences in life, observed or otherwise, to build the worlds and characters that thrive in her books. A believer in the strength 			of the human spirit, Norma Jeanne writes the stories of people that persevere when all appears to be lost.
		</p>
    </span>
	</div>
	<div class="col-sm-6" id="body-right">
		<img id="profilePic" class="img-responsive center-block" src="img/profile.jpg">


		<a href="#blackness">
			<img id="celticKnot" class="img-responsive" src="img/CelticKnot.png">
		</a>

	</div>

</div>