
			<div class="col-sm-12">
				<!-- <h2 class="specialFont text-center"><%= tagline %></h2> -->
			</div>
			<div id="bookDescription" class="row">
			  <!--<div class="col-sm-1"></div>-->
				<div class="col-sm-6">
					<h2 class="specialFont-<%= seriesId %> text-center"><%= tagline %></h2>
					<div id="divCover">
						<img id="bookCover" class="center-block img-responsive" src="<%= cover %>">
			  		</div>
				</div>
				
				<div id="divBookText" class="col-sm-6">
					<span id="bodyText"> <%= body %> </span>
					<div id="getBookIcons">
					<% if(azActive) {%>
						<a href="<%=azLink%>" target="_blank">
							<img src="img/amazon.jpg" class="shoppingIcons">
						</a>
						<%}%>
						<% if(nookActive) {%>
						<a href="<%=nookLink%>" target="_blank">
							<img src="img/bn.jpg" class="shoppingIcons">
						</a>
						<%}%>
						<% if(googleActive) {%>
						<a href="<%=googleLink%>" target="_blank">
							<img src="img/google-play.png" class="shoppingIcons">
						</a>
						<%}%>
					</div>
				</div>
				<!--<div class="col-sm-1"></div>-->
			</div>
		