<div class="row">
	<div class="col-sm-6">
		<h2 class="text-center">Be Heard</h2>
		<img class="center-block img-responsive" src="img/Trilogy.jpg">
		<span id="bodyText">
		<p>
			Home About Books Contact Mailing List Partners The Blackness Series Author Do you love Norma Jeanne's books? Would you like her to autograph your favorite book? Or do you have a question or request?
		</p>
		<p>
			We'd love to hear from you! Our valued readers are our top priority. Use the form on the left to send us a note. We'll make every effort to respond to your inquiry in a timely manner and even accommodate your autograph requests.
		</p>
		</span>
	</div>
	<div class="col-sm-6">

		<div id="formWrapper">
			<!-- Pasted code for the contact form -->
			<div id="wufoo-z786ppo1iyzsiu">
				<!--						Fill out my <a href="https://normajeannekarlsson.wufoo.com/forms/z786ppo1iyzsiu">online form</a>.-->
			</div>
			<script type="text/javascript">
				var z786ppo1iyzsiu;
				(function (d, t) {
					var s = d.createElement(t),
						options = {
							'userName': 'normajeannekarlsson',
							'formHash': 'z786ppo1iyzsiu',
							'autoResize': true,
							'height': '497',
							'async': true,
							'host': 'wufoo.com',
							'header': 'show',
							'ssl': true
						};
					s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
					s.onload = s.onreadystatechange = function () {
						var rs = this.readyState;
						if (rs)
							if (rs != 'complete')
								if (rs != 'loaded') return;
						try {
							z786ppo1iyzsiu = new WufooForm();
							z786ppo1iyzsiu.initialize(options);
							z786ppo1iyzsiu.display();
						} catch (e) {}
					};
					var scr = d.getElementsByTagName(t)[0],
						par = scr.parentNode;
					par.insertBefore(s, scr);
				})(document, 'script');
			</script>
			<!-- End of pasted code -->
		</div>
		<p class="text-center">
			<a href="mailto:contact@normajeannekarlsson.com?Subject=normajeannekarlsson.com" target="_top">
 contact@normajeannekarlsson.com</a>
		</p>

	</div>
</div>