<div class="row">
	<div class="col-sm-6" id="left-col">
		<h2 class="text-center">Norma Jeanne Karlsson</h2>
		<h3 class="text-center">Author of The Blackness Series</h3>
		<p>“A testament to the strength of those who persevere when all appears to be lost, Blackness Takes Over will surely generate much interest and rightly mark Karlsson as an author to watch. Strongly recommended.” - Book Viral</p>

		<p>“What a book! Drama, mystery, romance and suspense all rolled up in one package.” -Indie Author Anonymous</p>

		<p>“A truly wonderful story packed full of romance, love and plenty of suspense.” - Literary Nook</p>

		<p>“5 out of 5 Stars but I would give more if I could!”- Racing to Read</p>

		<p>“This whole story is so amazing, I feel a complete contentment on discovering this amazing read. It's one of those stories that stays with you WAY after it has ended.” - Insane About Books</p>
	</div>
	<div class="col-sm-6" id="right-col">

		<!-- Carouselle-->
		<div id="carousel-front-page" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">

				<div class="item">
					<a href="Blackness-Takes-Over.html">
						<img src="img/BlacknessTakesOver.jpg">
					</a>
				</div>

				<div class="item">
					<a href="Blackness-Awaits.html">
						<img src="img/BlacknessAwaits.jpg">
					</a>
				</div>

				<div class="item active">
					<a href="Shrouded-in-Blackness.html">
						<img src="img/ShroudedinBlankness.jpg">
					</a>
				</div>

			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-front-page" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carousel-front-page" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
		<!-- Carouselle end -->
	</div>
</div>