<div class="row">
	<div class="col-sm-6">
		<a href="https://www.progressivedits.com/" target="_blank">
			<img src="img/progressivedits.png" class="img-responsive coverImage partnerLogo">
		</a>
	</div>
	<div class="col-sm-6">
		<h3 class="text-center">About Progressive Edits</h3>
		<p class="mainSiteP">
			Progressive Edits is an author services company in the United States. Our focus is on providing professional and comprehensive editing and proofreading services for traditional and independent authors. Our clients are New York Times bestsellers, cutting-edge indie authors and internationally recognized writers. Visit our website for more details at <a href="http://www.progressivedits.com/" target="_blank">www.progressivedits.com</a>
		</p>

	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<a href="http://www.creativedigitalstudios.com/" target="_blank">
			<img src="img/WebAD.jpg" class="img-responsive coverImage partnerLogo" alt="creativedigitalstudios.com">
		</a>
	</div>
	<div class="col-sm-6">
		<h3 class="text-center">About Creative Digital Studios</h3>
		<p class="mainSiteP">
			We got our start making logos and design work for small businesses and making custom book covers for up-and-coming authors. Our passion for helping others succeed with design sparked from those first few jobs.
		</p>
		<p class="mainSiteP">
			Art and design are passions that have been a part of our lives since we were children. We want to share our passion with people who are passionate about their own work, whatever it may be. We strive to create powerful designs that inspire, and help other businesses like ours to grow.
		</p>
		<p class="mainSiteP">
			Our work ranges from letterheads and logos all the way to menus and book covers. If you need it, we can create it. We'll use your vision and ideas, while adding a little extra to make your brand unique and eye-catching. We can also work with you to create works for private use, like party invitations and personal stationary, or even family photos and albums. The sky is the limit!
		</p>
	</div>
</div>

</div>