	<h1 class="text-center"><%=seriesTitle%></h1>
<span id="bodyText"><%=seriesDescription%></span>
<div class="center-block row" id="bookCovers">
	  <% for (i=0; i<coverLinks.length; i++){ %>
	  
	  <% if (coverLinks.length === 1) { %>
	  <div class="col-sm-12">
	  <% } else if (coverLinks.length % 2 === 0 || coverLinks.length % 3 === 0 ) { %>
         <%if (coverLinks.length % 3 === 0) {%>
	    <div class="col-sm-4">
	   <%} else {%>
	    <div class="col-sm-6">
	    <% }%>

	  <% } else { %>
      <%if (coverLinks.length % 3 === 2) {%>
	     <%if (i + 1 <= coverLinks.length - 2) {%>
	      <div class="col-sm-4">
	      <%} else {%>
	      <div class="col-sm-6">
	      <%}%>
	      <%} else {%>
	     <%if (i + 1 <= coverLinks.length - 1) {%>
	      <div class="col-sm-6">
	     <%} else {%>
	      <div class="col-sm-12">'
	     <%}%>
	    <%}%>
	  <% } %>
		<a href="#series/<%=seriesId%>/<%=bookId[i]%>">
			<img class="img-responsive center-block coverImage" src="<%=coverLinks[i]%>">
		</a>
	</div>
 <%}%>
</div>
